<a href="https://colab.research.google.com/github/errhythm/CSE422/blob/main/Lab%20Assignment%204/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing necessary libraries
import pandas as pd
import numpy as np

## Load the dataset as dataframe using pandas

In [ ]:
wine = pd.read_csv('/content/wine.csv')
wine.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,bad

In [ ]:
wine.shape

(1599, 12)

## Handle missing values if needed

In [ ]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   object
dtypes: float64(11), object(1)
memory usage: 150.0+ KB

In [ ]:
wine['quality'].unique()

array(['bad', 'good'], dtype=object)

## Encode categorical features if needed

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
wine['quality_enc'] = enc.fit_transform(wine['quality'])

# Compare the two columns
print(wine[['quality', 'quality_enc']].head())

  quality  quality_enc
0     bad            0
1     bad            0
2     bad            0
3    good            1
4     bad            0

In [ ]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_enc
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,0.534709
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.498950
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,0.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,0.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,1.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,1.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,1.000000

## Split the dataset into features and labels

In [ ]:
from sklearn.model_selection import train_test_split
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
X = wine.drop(['quality_enc', 'quality'],axis=1)
y = wine['quality_enc']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1, shuffle=True)

print(X_train.shape)
print(X_test.shape)

(1119, 11)
(480, 11)

## Scale all the values between 0-1 with proper scaling technique

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler()

In [ ]:
X_train_scaled = scaler.transform(X_train)

X_train_scaled

array([[0.31858407, 0.82876712, 0.        , ..., 0.62204724, 0.09580838,
        0.38461538],
       [0.23893805, 0.25342466, 0.1       , ..., 0.44094488, 0.08383234,
        0.32307692],
       [0.36283186, 0.49315068, 0.        , ..., 0.41732283, 0.13173653,
        0.2       ],
       ...,
       [0.17699115, 0.41438356, 0.09      , ..., 0.48031496, 0.09580838,
        0.36923077],
       [0.2300885 , 0.34931507, 0.        , ..., 0.49606299, 0.1497006 ,
        0.09230769],
       [0.39823009, 0.19178082, 0.5       , ..., 0.37007874, 0.21556886,
        0.63076923]])

In [ ]:
X_test_scaled = scaler.transform(X_test)

X_test_scaled

array([[0.37168142, 0.19863014, 0.64      , ..., 0.62992126, 0.19760479,
        0.32307692],
       [0.36283186, 0.34931507, 0.28      , ..., 0.40944882, 0.17964072,
        0.27692308],
       [0.51327434, 0.15068493, 0.58      , ..., 0.35433071, 0.22155689,
        0.44615385],
       ...,
       [0.31858407, 0.41780822, 0.21      , ..., 0.36220472, 0.11377246,
        0.16923077],
       [0.25663717, 0.30821918, 0.02      , ..., 0.48818898, 0.17365269,
        0.36923077],
       [0.26548673, 0.26027397, 0.29      , ..., 0.45669291, 0.17365269,
        0.47692308]])